h1 {
    color:black;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 300%;
border: 10px solid blue;
padding: 30px;
margin: 50px;
}
p {
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;

}

li {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%
}

p1 {
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}

p2 {
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}
